// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


// this is where i'm starting my code


.flex(){
	display:flex;
	justify-content: space-between;
	align-content: center;
	margin:15px;
}
.flexColumn(){
	display:flex;
	flex-flow: column-reverse;
}
@textColor:forestgreen;
@fancyFont:'Calistoga', cursive;
.wrapper{
	width:75%;
	margin-left:200px;
}
header{
	@media(max-width: 800px){
		width:75%;
		padding:10px;
	}
	.flex();
	 nav{
	 	a{
			text-decoration: none;
			color: @textColor;
			font-size: 1.2rem;
		}//a
	}//nav
}//header

hr{
	width:75%;
}

section{
	@media(max-width: 800px){
		width:75%;
		padding:10px;
	}
	margin:15px;
	border: 5px solid black;
	img{
		width:10%;
	}//img
		h1{
			font-weight: bold;
			font-size: 1.5rem;
			.flex();

		}//h1
			p{
				.flex();
				font-family:@fancyFont;
			}//p
}//section


.skills{
	@media(max-width: 800px){
		width:75%;
		padding:10px;
	}
	.flex();
}


footer div{
	background:red;
}